
{% extends "layouts/base.html" %}

{% block content %}
<h1>Home</h1>
<div>
    <a href="/perfil">Perfil</a>
</div>

<!-- Botão de logout -->
<div>
    <form action="/logout" method="GET">
        <button type="submit">Logout</button>
    </form>
</div>

<h2>Jogos Mais Jogados</h2>
<ul>
    {% for jogo in jogos_mais_jogados %}
    <li>{{ jogo.nome }} - Jogado por {{ jogo.jogadores }} jogadores</li>
    {% endfor %}
</ul>

<h2>Jogos Recém-Adicionados</h2>
<ul>
    {% for jogo in jogos_recentes %}
    <li>{{ jogo.nome }} - Adicionado em {{ jogo.data_adicao }}</li>
    {% endfor %}
</ul>
{% endblock %}
