<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

    <header>
        <img src="" alt="Logo">
        
        <nav>
            <ul>
                <li><a href="/Beneficios">Beneficios</a></li>
                <li><a href="/Projetos">Projetos</a></li>
                <li><a href="/Sobre">Sobre</a></li>
                <li><button>Contato</button></li>
                <li><button>Login</button></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="info">

            <h1>O que é a Federal’s Indie?</h1>
            <p>A Federal's Indie é uma plataforma dedicada à promoção e visibilidade de jogos independentes desenvolvidos por estudantes do <b>Instituto Federal do Rio Grande do Norte (IFRN)</b>. Seu principal objetivo é oferecer um espaço onde esses jogos possam ser exibidos, aumentando a visibilidade dos criadores e incentivando novos desenvolvedores a se engajar no mundo dos jogos independentes.</p>

            <div class="info">
                <div>
                    <div></div>
                    <h2>Sistema de Envio de Jogos</h2>
                    <p>Federal's Indie terá um sistema intuitivo para os desenvolvedores enviarem seus jogos. Eles poderão adicionar o nome do jogo, uma imagem representativa e o link de onde o jogo está hospedado.</p>
                </div>
                <div>
                    <div></div>
                    <h2>Comunidade de Desenvolvedores</h2>
                    <p>A plataforma incluirá uma área de comunidade onde os desenvolvedores poderão conversar entre si, trocar ideias, dar e receber feedback, e colaborar em novos projetos.</p>
                </div>
            </div>

            <div class="info">
                <div>
                    <h2>Educação e Notícias</h2>
                </div>
                <div>
                    <h2>Destaques e Reconhecimento</h2>
                </div>
            </div>
            
        </section>

        <section class="tobe">

        </section>

        <section class="motiv">

            <h1>Principais motivações</h1>
            <p>A criação de Federal's Indie é motivada pela necessidade de dar visibilidade aos talentos dos estudantes e criar uma comunidade vibrante de desenvolvedores de jogos independentes dentro do IFRN. A plataforma pretende ser um catalisador para inovação e criatividade, proporcionando um ambiente propício para o desenvolvimento de jogos.</p>

        </section>
    </main>

    <footer>

    </footer>
    
</body>
</html>